@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}
@model List<Sach>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="tg-sectionhead">
        <h2>Sách</h2>
        <a class="tg-btn" asp-controller="TatCaSach" asp-action="TatCaSach">View All</a>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="tg-bestsellingbooksslider" class="tg-bestsellingbooksslider tg-bestsellingbooks owl-carousel">
        @foreach (var item in Model)
        {
            <div class="item">
                <div class="tg-postbook">
                    <figure class="tg-featureimg">
                        <div class="tg-bookimg">
                            <div class="tg-frontcover"><img src=@Url.Content("../ThuVien/images/" + item.AnhDaiDien) alt="image description"></div>
                            <div class="tg-backcover"><img src=@Url.Content("../ThuVien/images/" + item.AnhDaiDien) alt="image description"></div>
                        </div>
                        <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                            <i class="icon-heart"></i>
                            <span>add to wishlist</span>
                        </a>
                    </figure>
                    <div class="tg-postbookcontent">
                        <div class="tg-booktitle">
                            <h3><a href="javascript:void(0);">@item.TenSach</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">@item.TenTacGia</a></span>
                        <span class="tg-stars"><span></span></span>
                        @if (HttpContextAccessor.HttpContext.Session.GetString("UserName") != null)
                        {
                        <a class="tg-btn tg-btnstyletwo" onclick="AddToCart('@ViewBag.checkHD','@ViewBag.maHDB','@item.MaSach','@ViewBag.maKH') ">
                            <i class="fa fa-shopping-basket"></i>
                            <em>Mượn Sách</em>
                        </a>
                        }
                        else 
                        {
                            <a class="tg-btn tg-btnstyletwo" asp-controller="DangNhap" asp-action="DangNhap">
                                <i class="fa fa-shopping-basket"></i>
                                <em>Mượn Sách</em>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">

    function AddToCart(checkHD, maPhieuMuon, maSach, maKH) {

        const currentUrl = window.location.href;

        if (checkHD == "1") {
            const data = {
                MaPhieuMuon: maPhieuMuon,
                MaSach: maSach,
                SoLuong: 1
            };

            //window.location.replace("https://localhost:7067/TaiKhoan/DangNhap");
            fetch('https://localhost:7113/api/MuonSachAPI/invoiceDetailExsits', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (response.ok) {
                        // Nếu đăng kí thành công, chuyển hướng đến trang "Thank you"
                        alert("Thêm sách thành công")
                    } else {
                        alert("Sách này đã có trong giỏ hàng")
                    }
                })
                .catch(error => {
                    console.error('Lỗi:', error);
                });
        }
        if (checkHD == "0") {
            const data = {
                MaPhieuMuon: maPhieuMuon,
                NgayMuon: "2023-04-23T08:30:00Z",
                NgayTra: "2023-04-25T08:30:00Z",
                TinhTrangPhieuMuon: "Chưa mượn",
                TongSachMuon: 3,
                MaDocGia: maKH,
                MaNhanVien: "Admin",
                MaSach: maSach,
                SoLuong: 1
            };

            //window.location.replace("https://localhost:7067/TaiKhoan/DangNhap");
            fetch('https://localhost:7113/api/MuonSachAPI/invoiceDetail', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (response.ok) {
                        // Nếu đăng kí thành công, chuyển hướng đến trang "Thank you"
                        alert("Thêm sách thành công");
                        window.location.href = currentUrl;
                    } else {

                        alert('Sách này đã có trong phiếu mượn');
                    }
                })
                .catch(error => {
                    console.error('Lỗi:', error);
                });
        }
    }
</script>
